.post-info {
  background: rgba(0,0,0,.1);
  min-height: 100%;
  position: fixed;
  right: calc(50% - 542px);
  top: 0;
  width: 400px;
  display: flex;
}

.post-info > .content {
  flex: 1;
  flex-direction: column;
  position: relative;
}

.post-info .top-nav li {
  float: right;
}

.post-info .user-action {
  margin-left: 16px;
}

.post-info hr {
  border-color: #ccc;
}

.post-info .meta .btn-link {
  color: rgba(150,150,150,1);
}

.post-info .meta .btn-link:hover {
  color: rgb(0, 125, 255);
  text-decoration: none;
}

.post-info .meta .btn:focus {
  outline: none;
}

.post-info hr {
  margin: 0;
}

.post-info .media {
  margin-bottom: 20px;
  padding: 14px;
}

.post-info .media img {
  border-radius: 3px;
  min-width: 48px;
  min-height: 48px;
}

.post-info .meta {
  margin: 10px 0;
  padding: 0 14px;
}

.post-info .meta .btn {
  padding-left: 0;
  padding-right: 24px;
}
