.post-item {
  display: flex;
  height: 18px;
  margin-bottom: 14px;
  padding-left: 8px;
  width: 100%;
}

.post-item a {
  display: block;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.post-item a:visited {
  color: #551A8B;
}

.post-item:last-child {
  margin-bottom: 0;
}

.post-item .glyphicon {
  margin-right: 10px;
}

.post-item:hover {
  color: #333;
}
