.post-item,
.post-item:visited {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

.post-item:last-child {
  margin-bottom: 0;
}

.post-item .glyphicon {
  margin-right: 10px;
}

.post-item:hover {
  color: #333;
}
