.post-item {
  display: flex;
  height: 18px;
  margin-bottom: 14px;
  padding-left: 10px;
}

.post-item a,
.post-item a:visited {
  display: block;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 8px;
}

.post-icon {
  height: 18px;
  width: 18px;
  background: transparent url(./assets/images/icons.png) no-repeat scroll left top;
}

.post-item:last-child {
  margin-bottom: 0;
}

.post-item .glyphicon {
  margin-right: 10px;
}

.post-item:hover {
  color: #333;
}
